[submodule "web/js/colorbox"]
  path = web/js/colorbox
  url = git://github.com/jackmoore/colorbox.git
[submodule "web/js/jquery-ui-numeric"]
  path = web/js/jquery-ui-numeric
  url = git://github.com/flamewave/jquery-ui-numeric.git
