#ecosystem_list_name_column {
	width: 30%;
}

#ecosystem_list_city_column {
	width: 30%;
}

#ecosystem_list_picture_column {
	width: 15%;
	text-align: center;
}

#ecosystem_list_count_column {
	width: 18%;
	text-align: center;
}


#ecosystem_form  {
	width: 60%;
	margin: auto;
}

#ecosystem_form th {
	border: 0;
	padding: 0;
}

.ecosystem_form_help {
	font-size: 0.7em;
}