form { clear: both; margin: 0px; padding: 0px; width: auto; }
form div { padding: 7px; }
#left_side_form, #right_side_form, #right_side_help { margin: 0px 0px 30px 0px; padding: 0px; float: left; }
#right_side_form, #right_side_help { margin-left: 50px; }
#right_side_help { width: 500px; font-size: 13px; }
#right_side_help p { padding: 0px; color: #717171; }

div.submit { border: 0; margin-top: 10px; clear: both; }
div.radio label { margin: 0 0 6px 20px; }

label { display: inline; font-size: 13px; margin-bottom: 3px; color: black; font-weight: bold; }
span.input_error {
	margin-left: 5px;
	padding: 1px 5px;
	text-align: center;
	
	font-size: 11px;
	background: #cc3300;
	color: #ffffff;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
p.input_help { font-size: 11px; color: #919191; margin: 0px; margin-top: -2px; padding: 0px; }
p.input_long_help { width: 500px; }
span.input_alternative { font-weight: bold; color: #000000; font-size: 12px; margin-left: 5px; margin-right: 5px; }

input, textarea { display: block; clear: both; font-size: 12px; padding: 1px; }
textarea { width: 350px; height: 100px; }
select { clear: both; vertical-align: text-bottom; display: block; }
select[multiple=multiple] {	min-width: 350px; }
option { padding: 0px 2px; }

input[type=submit] {
	display: inline-block;
	width: auto;
	padding: 4px 8px;
	
	background: #3A8FCE url(../images/bkg-btn-blue.gif) repeat-x 0 top;
	color: white;
	text-shadow: 0 -1px 2px #2063AB;
	border: 1px solid #2F6EA7;
	border-color: #508FCD #4483BF #2F6EA7 #3F7EB9;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}
input[type=submit]:hover { cursor: pointer; }
input[type=checkbox] { margin: 0px 6px 7px 2px; width: auto; display: inline-block; }
input[type=radio] { float:left; width:auto; margin: 0px 3px 7px 0px; }
input[type=file] { font-size: 11px; color: #555; }

a.cancel_form_link { color: #e32; font-size: 12px; margin: 0px; }
a.cancel_form_link:hover { color: white; background: #e32; margin: 0px; }
a.form_inline_link { display: inline; font-size: 10px; padding: 0px 2px; }
a.form_inline_link:hover { padding: 0px 2px; }
span.form_inline_link { font-size: 10px; }

div.checkbox_group p { padding: 0px; margin: 0px; font-weight: bold; font-size: 13px; margin-bottom: 3px; color: black; }
div.checkbox_group input { margin: 0px 3px 3px 0px; width: auto; display: inline-block; }
div.checkbox_group label { font-weight: normal; font-size: 12px; color: #343434; }


/**
 *	TOKEN INFORMATION
 */
p.token_label { padding: 0; margin: 0; margin-top: 7px; font-weight: bold; }
p.token_value { padding: 0; margin: 0; margin-top: 1px; }

/**
 * COMMON FIELDS
 */
#gps_coordinates input { width: 70px; display: inline-block; } /* Location and Sample */
span.reset_picture { text-decoration: underline; font-size: 11px; color: #2aa2f8; margin-left: 3px; }
span.reset_picture:hover { cursor: pointer; text-decoration: none; }
span.value_unit { font-size: 11px; }

span.remove_input_text { text-decoration: underline; font-size: 11px; color: #2aa2f8; margin-left: 3px; }
span.remove_input_text:hover { cursor: pointer; text-decoration: none; }


/**
 * RELATED MODEL FIELDS
 */
#model_pictures { clear: both; }
div.model_picture_list label { display: block; }
div.model_picture_filename { margin: 0px; padding: 0px; }
div.sample_picture_handler { margin-bottom: 17px; border-bottom: 1px solid #d3d3d3; }
div.model_picture_filename input { display: inline; margin-right: 0px; padding-right: 0px; }

div.model_text_input_list { width: 170px; }
div.model_text_input_list label { display: inline-block; }
div.model_text_input_list ul { padding: 0px; margin: 0px; margin-left: 17px; }
div.model_text_input_list li { padding: 0px; margin: 0px; }
div.model_text_input_value { margin: 0px; padding: 2px 0px; position: relative; }
div.model_text_input_value span { font-size: 13px; }
div.model_text_input_value_checkbox { position: absolute; right: 3px; top: 3px; padding: 0px; margin: 0px; font-size: 11px; font-weight: lighter; }

div.model_text_input_list div.model_text_input_value input[type=checkbox] { margin: 0px; padding: 0px; }
div.model_text_input_name, div.model_text_input_date { padding: 1px 0px; }
div.model_text_input_name input, div.model_text_input_date input { display: inline; margin-right: 0px; padding-right: 0px; }

#pcr_gel_handler, #pcr_reaction_handler { margin-bottom: 17px; border-bottom: 1px solid #d3d3d3; border-top: 1px solid #d3d3d3; padding-left: 0px; }
#pcr_reaction_handler { border-top: 0; }
#pcr_reaction_handler div.model_text_input_value span, #pcr_gel_handler div.model_text_input_value span { font-size: 12px; }
#pcr_gel_handler ul, #pcr_reaction_handler ul { list-style-type: none; margin-left: 3px; }
div.model_text_input_gel, div.model_text_input_reaction { display: block; font-size: 11px; }

div.model_text_input_band, div.model_text_input_is_valid, div.model_text_input_number,
div.model_text_input_worked, div.model_text_input_dna_primer { margin-left: 0px; padding-left: 0px; display: inline; }
div.model_text_input_number label, div.model_text_input_band label, div.model_text_input_is_valid label,
div.model_text_input_worked label, div.model_text_input_dna_primer label { display: inline; font-size: 11px; }

div.model_text_input_gel input, div.model_text_input_reaction input { display: inline; font-size: 11px; }
div.model_text_input_number input { width: 30px; margin-left: 3px; }
div.model_text_input_band input { width: 60px; margin-left: 3px; }
div.model_text_input_dna_primer select { margin-left: 3px; display: inline; vertical-align: middle; }



/**
 * SPECIFIC FIELDS
 */
#name input { width: 250px; }	/* Location */
#description input[type=file] { display: inline; }	/* Culture media*/

#conductivity input, #temperature input, #salinity input, #altitude input { display: inline; }

a.sample_location_coordinates_url,
a.patent_deposit_location_coordinates_url,
a.maintenance_deposit_location_coordinates_url,
a.strain_sample_numbers_url,
a.country_regions_url,
a.region_islands_url,
a.dna_extraction_strain_numbers_url,
a.project_strain_numbers_url,
a.isolation_strain_numbers_url, a.isolation_sample_numbers_url, a.isolation_location_coordinates_url, a.isolation_isolation_subject_url,
a.label_find_products_url { display: none; }

#email_address input,
#username input,
#password input,
#password_again input,
#first_name input,
#last_name input { width: 250px; }
#avatar input[type=file] { display: inline; margin-right: 0px; padding-right: 0px;}
#avatar_image { }
#avatar_image img { display:inline; }

#concentration input, #ratio_260_230 input, #ratio_260_280 input, #aliquots input { width: 50px; }
#genbank_link input { width: 350px; }
#customer input { width: 350px; }

span.gel_is_valid, span.reaction_worked { color: #005700; }


#label_product_id label { display: block; }
#label_product_id input { display: inline; min-width: 170px; color: #888; font-size: 11px; min-height: 15px; padding: 1px; }
#label_product_id #label_all_products { display: inline; margin: 0px; padding: 0px; }
#label_product_id #label_all_products label { display: inline; margin-left: 0px; margin-right: 0px; }
#label_product_id #label_all_products input { display: inline; margin-right: 0px; }
#label_transfer_interval label { display: block; }
#label_product_form { margin: 0px; padding: 0px; }


/**
 * RELATED ID SEARCH BOX
 */
li.ui-menu-item { text-align: left; font-size: 11px; }
#sample_location_search, #maintenance_deposit_location_search, #patent_deposit_location_search, #strain_sample_search,
#dna_extraction_strain_search, #project_strain_search,
#isolation_location_search, #isolation_sample_search, #isolation_strain_search {
	color: #888;
	font-size: 11px;
	min-height: 15px;
	width: 300px;
	padding: 1px;
}
#strain_sample_search, #dna_extraction_strain_search, #project_strain_search, #isolation_strain_search { width: 150px; }


/**
 * DATE PICKER
 */
div.date_field { width: 200px; }
div.date_field label { display: block; }
div.date_field select { display: inline; vertical-align: middle; }
input.hasDatepicker { float: right; }
img.ui-datepicker-trigger { float:right; margin-top: 3px; }
table.ui-datepicker-calendar { font-size: 11px; }


/**
 * GPS COORDINATES PICKER
 */
span.gps_coordinates_separator { padding: 0px; margin: 0px; font-size: 16px; vertical-align: bottom; }
#gps_coordinates_picker_link { font-size: 11px; padding: 1px 5px; text-decoration: underline; display: inline; }
#gps_coordinates_picker_link:hover { background: #2aa2f8; color: #ffffff; text-decoration: none; }
#gps_coordinates_picker_hidden { display: none; }
#gps_coordinates_picker { width: 800px; height: 550px; position: relative; background: #f0f0f0; }
#gps_coordinates_picker_map { width: 800px; height: 500px; vertical-align: bottom; position: absolute; bottom: 0; }
#gps_coordinates_picker_data { margin: 0px; padding-top: 15px; }
#gps_coordinates_picker_data label { display: inline; margin-right: 9px; }
#gps_coordinates_picker_data input { margin-right: 17px; width: 80px; display: inline-block; }


/**
 * PROGRESS BAR
 */
#progressbar_wrapper { margin: 0px; margin-top: 21px; display: none; }
#progressbar_wrapper p { padding: 0px; margin: 0px; font-size: 12px; font-style: italic; margin-bottom: 3px; }
#progressbar { height: 15px; margin: 0px; padding: 0px; }
#progressbar div { padding: 0px; }	/* disables previous padding in form input fields */


/**
 * NUMERIC PLUGIN
 */
#culture_medium_amount, #strain_amount, #label_transfer_interval input { float:left; width: 40px; }
#culture_medium_amount_buttons, #strain_amount_buttons, #transfer_interval_buttons { padding:0; float: right; margin-left: 3px; }