#header {
	padding: 1em 0.5em;
	text-align: left;
}

#header_title_group {
	position: relative;
	float: left;
	width: 470px;
}

#header_title {
	float: inherit;
}

#header_subtitle {
	position: absolute;
	right: 0em;
	bottom: 2px;
	font-size: 1.4em;
}



#header_shortcuts {
	float: right;
	font-size: 0.8em;
}

#header_shortcuts {
  position:absolute;
  top:0.5em;
	right:0em;
  height: 28px;
	margin: 0em 1.5em 0em 0em;
}

#header_shortcuts span {
	margin: auto 0.7em;
}



#header_menu {
	height: 24px;
	margin: 5em 0em 0em 0em;
	padding: 0em;
	border-bottom: 0.3em solid #1A4F85;
}

#header_menu_tabs {
	margin: 0em;
	padding: 0em;
}

#header_menu_tabs li {
	border: none;
	display: inline;
	list-style: none;
	margin: 0em;
	padding: 0em;	
}

#header_menu_tabs a:link, #header_menu_tabs a:visited {
	float:left;
	font-size: 1em;
	font-weight: normal;
	line-height: 12px;
	margin: 0px 0px;
	padding: 5px 9px 7px;
	text-decoration: none;
	background: #1A4F85;
	color: white;
	border-right: 0.1em solid #f0f0f0;
}

#header_menu_tabs a:link.header_menu_current_tab, #header_menu_tabs a:visited.header_menu_current_tab {
	color: #080;
	font-weight: bold;
	margin: 0px 1px;
	text-decoration: none;
	
	background: #999;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E5E5E5');
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDFD), to(#E5E5E5));
	background: -moz-linear-gradient(top, #FDFDFD, #E5E5E5);
}

.header_menu_right_tab { float: right; }

#header_menu_tabs a#header_menu_last_tab { border: 0; }





#content{
	clear: both;
	overflow: auto;
	color: #444;
}



#footer {
	clear: both;
}
