/* Global page style */
body {
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
	text-align: center;
}

table {
	background: white;
	margin: 30px auto;
	width: 800px;
	border-collapse: collapse;
	text-align: left;
}

p { margin: 0px; padding: 3px 0px; }

/* Row styles */
tr.label_items { }

/* Column styles */
td.label_item { font-weight: lighter; padding: 17px 0px; }

p.label_item_code { font-size: 13px; margin-bottom: 3px; }
p.label_item_genus, p.label_item_species { display: inline; font-style: italic; font-weight: bold; }
p.label_item_taxonomic_class { }
p.label_item_culture_medium { display: inline; }
p.label_item_transfer_interval { display: inline; font-size: 10px; margin-left: 5px; }