/**
* GLOBAL PAGE STYLE
*/
html { background: white; }
body {
	margin: 0 auto;
	padding: 0;
	background: #f5f5f5;
	min-width: 870px;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	text-align: center;
}


/**
* DEFAULT STYLES
*/
a { text-decoration: underline; padding: 1px 5px; }
a:link { color: #2aa2f8; }
a:visited { color: #2aa2f8; }
a:hover {
	color: #ffffff; background-color: #2aa2f8; text-decoration: none; padding: 1px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

img { border: none; }

p { font-size: 12px; line-height: 16px; }

h1 {
	font-family: "Lucida Grande", arial, sans-serif;
	padding: 0;
	border-bottom: 0;
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

h2 {
	font-family: "Lucida Grande", arial, sans-serif;
	margin: 20px 0 5px 0px;
	font-size: 14px;
	padding: 0;
}

h3 {
	margin: 20px 0 0 0;
	color: #666;
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 14px;
	padding: 0;
}


/**
* JAVASCRIPT DISABLED NOTIFICATION
*/
div.javascript_disabled_notification {
  width: 520px;
  margin: 30px auto;
  background: #fff;
}

div.javascript_disabled_notification div.inner {
  padding: 20px;
  text-align: left;
}

div.javascript_disabled_notification h1 {
  font-size: 18px;
  margin: 0 0 18px 0;
}

div.javascript_disabled_notification p {
  margin: 0 0 14px 0;
  font-size: 14px;
  line-height: 140%;
}


/**
* HEADER
*/
#header { text-align: left; position: relative; }
#header_image {
	height: 65px;
	float: left;
	padding: 7px 0px 0px 20px;
}
#header_title {
	padding: 15px 0px 5px 90px;
  font-size: 24px;
  font-weight: normal;
	color: #333;
}
#header_subtitle {
	padding: 0px 0px 0px 90px;
	margin-top: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #333;
}
#header_shortcuts {
  position:absolute;
  top: 0px;
  right: 0px;
  padding: 7px 20px;
  font-size:10px;
}
#header_shortcuts span { padding: 7px 3px; }
#header_menu {
	padding: 25px 0px 0px 0px;
  height: 24px;
	border-bottom: 0.3em solid #2aa2f8;
}
#header_menu ul {
	margin: 0px; padding: 0px 20px;
}
#header_menu li {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
	border: none;
}
#header_menu a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-khtml-border-radius-topleft: 5px;
	-khtml-border-radius-topright: 5px;
	-ms-border-radius-topleft: 5px;
	-ms-border-radius-topright: 5px;
	padding: 1px;
}
#header_menu a:link,
#header_menu a:visited,
#header_menu a:hover {
  text-decoration: none;
}
#header_menu ul#header_menu_tabs a:link,
#header_menu ul#header_menu_tabs a:visited {
	float: left; /* for IE6 */
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	padding: 5px 9px 7px;
	margin: 0 1px;	
	color: #ffffff;
	background: #2aa2f8;
}
#header_menu ul#header_menu_tabs a:hover { background: #6CF; }
#header_menu ul#header_menu_tabs a:link.header_menu_current_tab,
#header_menu ul#header_menu_tabs a:visited.header_menu_current_tab {
	font-weight: bold;
	text-decoration: none;
	margin: 0px;
	padding-bottom: 7px;
	color: #fff;
	background: #666;
}
.header_menu_right_tab { float: right; }


/**
* MAIN CONTENT
*/
#main {
	padding: 10px 20px 24px 20px;
	margin: 0px auto;
}
#main_content {
	background: white;
	text-align: left;
	
	-moz-box-shadow: 3px 3px 4px #bbb;
	-webkit-box-shadow: 3px 3px 4px #bbb;
	box-shadow: 3px 3px 4px #bbb;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.40');
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;	
}
#main_actions { display: none; }
#main_header {
	background: #e7eef6;
	margin: 0px 0px 15px 0px;
	padding: 11px 13px 11px 13px;
	clear:both;
	font-size: 14px;
	font-weight: bold;
	color: black;
}

#main_header div.main_header_action { float:right; margin-left: 5px; }
#main_header div.main_header_action a:link,
#main_header div.main_header_action a:visited {
	padding: 3px 9px 3px 19px;
	margin-top: 0px;
	color: #333;
	text-decoration: underline;
	font-size: 13px;
}
#main_header div.main_header_action a:hover { text-decoration: none; }

#main_header #main_header_action_new a:link,
#main_header #main_header_action_new a:visited,
#main_header #main_header_action_new a:hover {
	background: /*#d5d5d5*/ url(../images/new.png) no-repeat 0 center;
}
#main_header #main_header_action_edit a:link,
#main_header #main_header_action_edit a:visited,
#main_header #main_header_action_edit a:hover {
	background: /*#d5d5d5*/ url(../images/edit.png) no-repeat 0 center;
}
#main_header #main_header_action_back a:link,
#main_header #main_header_action_back a:visited,
#main_header #main_header_action_back a:hover {
	background: /*#d5d5d5*/ url(../images/list.png) no-repeat 0 center;
}

#main_view { margin-bottom: 24px; }
#main_view_show {  }
#object_data_list { float:left; width: 49%; padding-right: 1%; }
#object_google_map { float: right; width: 49%; padding-left: 1%; }
#object_picture_list { clear: both; }


/**
* FOOTER
*/
#footer { clear: both; text-align: center; }
