/* GLOBAL PAGE STYLE */
body {
	margin: 0 auto;
	padding: 0;
	background: #f0f0f0;
	min-width: 870px;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: #222;
}



/* DEFAULT STYLES */
a { text-decoration: underline; padding: 1px; }
a:link { color: #03c; }
a:visited { color: #03c; }
a:hover { color: #fff; background-color: #30c; text-decoration: none; }

form { margin: 0; padding: 0; }

p { font-size: 12px; line-height: 16px; }

h1 {
	font-family: "Lucida Grande", arial, sans-serif;
	padding: 0;
	border-bottom: 0;
	margin: 0;
	color: #333;
	font-size: 16px;
	font-weight: bold;
}

h2 {
	font-family: "Lucida Grande", arial, sans-serif;
	margin: 20px 0 5px 0px;
	color: #333;
	font-size: 14px;
	padding: 0;
}

h3 {
	margin: 20px 0 0 0;
	color: #666;
	font-family: "Lucida Grande", arial, sans-serif;
	font-size: 14px;
	padding: 0;
}

td, th { padding: 3px; text-align: left; }

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2em;
}

table th {
	border-bottom: 0.15em solid #999;
	padding: 0.5em 0.5em;
}

.form_field_tip {
	font-size: 0.7em;
	margin-left: 0.3em;
}



/* JAVASCRIPT DISABLED NOTIFICATION */
div.javascript_disabled_notification {
  width: 520px;
  margin: 30px auto;
  background: #fff;
}

div.javascript_disabled_notification div.inner {
  padding: 20px;
  text-align: left;
}

div.javascript_disabled_notification h1 {
  font-size: 18px;
  margin: 0 0 18px 0;
}

div.javascript_disabled_notification p {
  margin: 0 0 14px 0;
  font-size: 14px;
  line-height: 140%;
}



/* PAGE STRUCTURE */
#header { text-align: left; position: relative; }

#header_title {
	padding: 10px 0 10px 30px;
  font-size: 24px;
  font-weight: normal;
	color: #1a4f85;
}

#header_shortcuts {
  position:absolute;
  top: 0px;
  right: 0px;
  padding: 7px 20px;
  font-size:10px;
}

#header_shortcuts span { padding: 7px 3px; }

#header_menu {
	margin: 7px 57px 0 30px;
  padding: 0;
  height: 24px;
	border-bottom: 0.3em solid #1A4F85;
}

#header_menu ul {
	margin: 0; padding: 0;
}

#header_menu li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
	border: none;
}

#header_menu a:link,
#header_menu a:visited {
  text-decoration: none;
}

#header_menu a:hover {
	color: #fff;
	background: #333;
}

#header_menu ul#header_menu_tabs a:link,
#header_menu ul#header_menu_tabs a:visited {
	float: left; /* for IE6 */
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	padding: 5px 9px 7px;
	margin: 0 1px;
	
	color: #080;
	background: #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e5e5e5'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e5e5e5)); /* webkit */
	background: -moz-linear-gradient(top,  #fdfdfd,  #e5e5e5); /* firefox 3.6+ */	
}

#header_menu ul#header_menu_tabs a:link.header_menu_current_tab,
#header_menu ul#header_menu_tabs a:visited.header_menu_current_tab {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	margin: 0 0px;
	padding-bottom: 9px;
	
	background: #1a4f85;
}

.header_menu_right_tab { float: right; }



div#content {
	padding: 12px 23px 0 30px;
	margin: 0 auto;
	position: relative;
}

#settings_menu {
	font-size: 13px;
	margin-bottom: 20px;
	background: #ddd;
	padding: 6px;
	display: inline-block;
}

#settings_menu a,
#settings_menu strong {
	padding: 0px 6px;
}

#content_title {
	clear:both;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1.5em;
}

#footer {
	clear: both;
}
