* {
	padding: 0;
	margin: 0;
}

body {
	background: #f0f0f0;
	margin: 0;
	height: 100%;
	width: 100%;
	font: normal normal 0.9em Helvetica, "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration: none;
	color: #036;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

a {
	color: #036;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #367889;
	text-decoration:none;
}

a img {
	border:none;
}

