#samples_list_number_column {
	width: 4%;
	text-align: center;
}

#samples_list_ecosystem_column {
	width: 18%;
}

#samples_list_location_column {
	width: 18%;
}

#samples_list_collector_column {
	width: 20%;
}

#samples_list_date_column {
	width: 10%;
	text-align: center;
}

#samples_list_count_column {
	width: 10%;
	text-align: center;
}


#sample_form  {
	width: 60%;
	margin: auto;
}

#sample_form th {
	border: 0;
	padding: 0;
}

.sample_form_help {
	font-size: 0.7em;
}