table {
	background: white;
	margin: auto auto 24px auto;
	width: 98%;
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
}

/* Row styles */
tr:nth-child(2n) { background: #f9f9f9; }

/* Header styles */
th { font-size: 13px; padding: 10px 0px 7px 0px; border-bottom: 2px solid #999; }
tr:hover th a:hover { color: white; }

/* Column styles */
td { color: #333; font-weight: lighter; border-bottom: 1px solid #ccc; padding: 0px 0px 0px 2px; line-height: 27px; }
tr:hover td { color: #2aa2f8; }


/* Anchors in columns style */
td a:link, td a:visited { display: block; text-decoration: none; color: #333; }
tr:hover a:link, tr:hover a:visited { color: #2aa2f8; }
td a:hover { color: #333; background: transparent; }

/* Actions column styles */
td.actions { width: 150px; text-align: right; }
td.actions a:link, td.actions a:visited { display: none; }
tr:hover td.actions a { color: #2aa2f8; font-weight: lighter; display: inline; text-decoration: underline; }
tr:hover td.actions a:hover { color: #fff; background: #2aa2f8; text-decoration: none; }


/**
* PAGINATION
*/
#pagination { font-size: 12px; margin: 11px 21px 0px 0px; text-align: right; }
#pagination_links { margin-left: 23px; }
#pagination_links img { display:inline; padding: 0px 2px; margin:0px; vertical-align: middle; }
#pagination_links a:link,
#pagination_links a:visited,
#pagination_links a:hover { padding: 0px 2px; margin: 0px 0px; }
#pagination_links a.button { background: 0; }


/**
* TABLES IN SHOW ACTION VIEW
*/
#object_data_list { margin-left: 13px; }
div.object_related_model_long_list { margin-left: 13px; margin-top: 13px; overflow: hidden; }
div.object_related_model_long_list table { margin: 0px; padding: 0px; }
div.object_related_model_long_list th, div.object_related_model_long_list td { font-size: 11px; }

#object_related_models, #object_google_map { float: right; margin: 0px 0px 21px 21px; }
#object_related_models h2 { margin-top: 0px; }
div.object_related_model_list { padding-top: 0px; margin: 0px 0px 32px 0px; overflow: auto; width: 500px; }
div.object_related_model_list table { margin: 0px; padding: 0px; width: 478px; }
div.object_related_model_list th, div.object_related_model_list td { font-size: 11px; }


/**
* GOOGLE MAPS IN SHOW ACTION
*/
#object_google_map div { margin-right: 21px; }
#google_map_legend { margin: 0px; padding: 0px; }
#google_map_legend ul { padding: 0px; font-size: 11px; list-style-type: none; }
#google_map_legend li { display: inline; margin-right: 21px; }
#google_map_legend img { display: inline; vertical-align: top; width: 11px; height: 14px; margin-right: 3px; }


/**
* SPECIFIC COLUMN LENGTHS
*/
th.object_count, td.object_count { width: 35px; }
th.aliquots, td.aliquots { width: 60px; }
th.dna_availability, td.dna_availability, th.sequence_availability, td.sequence_availability, td.strain_code, td.culture_medium_code, th.band, td.band { width: 100px; }
td.date { width: 110px; }
td.extraction_kit, td.isolation_date { width: 120px; }
td.dna_extraction_code, td.sample_code { width: 135px; }
td.collector_name, td.isolator_name, th.concentration, td.concentration { width: 150px; }
td.country_name, td.region_name, td.island_name {	width: 160px; }
td.strain_name { width: 240px; }
td.culture_medium_name, td.link { width: 200px; }
td.location_name { width: 384px; }
td.taxonomic_class_name { width: 130px; }
td.dna_extraction_name { width: 160px; }
td.amount, td.is_public { width: 80px; }
td.notification_date { width: 130px; }

th.object_count, td.object_count,
th.pending_orders, td.pending_orders,
th.extraction_date, td.extraction_date,
th.concentration, td.concentration,
th.aliquots, td.aliquots,
th.dna_availability, td.dna_availability,
th.sequence_availability, td.sequence_availability,
th.pcr_concentration, td.pcr_concentration,
th.quality_ratio, td.quality_ratio,
th.band, td.band,
th.dna_primer, td.dna_primer,
th.can_be_sequenced, td.can_be_sequenced,
th.amount, td.amount,
th.is_public, td.is_public { text-align: center; }

td.notification_new { font-weight: bold; }