table {
	background: white;
	margin: auto auto 24px auto;
	width: 98%;
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
}

/* Row styles */
tr:nth-child(2n) { background: #f9f9f9; }

/* Header styles */
th { font-size: 14px; padding: 10px 0px 7px 0px; border-bottom: 2px solid #999; }
tr:hover th a:hover { color: white; }

/* Column styles */
td { color: #333; font-weight: lighter; border-bottom: 1px solid #ccc; padding: 0px 0px 0px 8px; line-height: 27px; }
tr:hover td { color: #2aa2f8; }


/* Anchors in columns style */
td a:link, td a:visited { display: block; text-decoration: none; color: #333; }
tr:hover a:link, tr:hover a:visited { color: #2aa2f8; }
td a:hover { color: #333; background: transparent; }

/* Actions column styles */
td.actions { width: 150px; text-align: right; }
td.actions a:link, td.actions a:visited { display: none; }
tr:hover td.actions a { color: #2aa2f8; font-weight: lighter; display: inline; text-decoration: underline; }
tr:hover td.actions a:hover { color: #fff; background: #2aa2f8; text-decoration: none; }


/**
* ADD BUTTON
*/
#index_new_action { float:right; }
#index_new_action a,
#index_new_action a:visited,
#index_new_action a:hover {
	background: #d5d5d5 url(../images/new.png) no-repeat 0 center;
	padding: 3px 9px 3px 19px;
	margin-top: 0px;
	color: black;
	text-decoration: none;
	font-size: 13px;
	
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-ms-border-radius: 5px;
}


/**
* PAGINATION
*/
#pagination { font-size: 12px; margin: 11px 21px 0px 0px; text-align: right; }
#pagination_links { margin-left: 23px; }
#pagination_links img { display:inline; padding: 0px 2px; margin:0px; vertical-align: middle; }
#pagination_links a:link,
#pagination_links a:visited,
#pagination_links a:hover { padding: 0px 2px; margin: 0px 0px; background: 0; }


/**
* SPECIFIC COLUMN LENGTHS
*/
td.location_name { width: 384px; }
td.country_name {	width: 150px; }
td.region_name { width: 160px; }
td.island_name { width: 150px; }
td.object_count { width: 40px; }

td.sample_code { width: 150px; }
td.collector_name { width: 150px; }
td.date { width: 100px; }
