# Disable ETags
FileETag none

# Expiration dates for static files
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A0
	<FilesMatch "\.(gif|jpg|jpeg|png|swf|js|css|ico)$">
		ExpiresDefault "access plus 1 months"
	</FilesMatch>
</IfModule>

# Send gzipped files
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>


Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]

	# then, we check for a backend module
	RewriteCond %{REQUEST_URI} ^/admin/?
	RewriteRule ^(.*)$ backend.php [QSA,L]

  # no, so we redirect to our front web controller
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

php_value memory_limit 512M
php_value post_max_size 355M
php_value upload_max_filesize 350M
php_value max_input_time 3600
php_value suhosin.post.max_value_length			10000000
php_value suhosin.request.max_value_length	10000000

